target/
!.mvn/wrapper/maven-wrapper.jar
!target/*.jar
mkdir
.git
.gitignore
.idea
.vscode
*.cmd
*.md
Dockerfile
docker-compose.yml
.mvn
mvnw
mvnw.cmd
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
release.properties
